.one-image {
  /* padding: .5rem; */
  width: 45%;
  margin: .5rem;
  /* flex: 1; */
}

.two-images {
  /* padding: .5rem; */
  margin: .5rem;  
  width:40%;
  /* flex: 1; */
}

.container {
  /* border: 1px solid silver; */
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 60rem;
}

h2 {
  margin-bottom: 0.3rem;
}

hr{
  margin-bottom: 0.2rem;
}

.artist-name {
  font-size: .75rem;
  margin-bottom: -.5rem;
}