.one-image {
  flex: 0 0 55%;
}

.two-images {
  flex: 1;
}

.container {
  display: flex;
}

.container > div {
  margin: 0 .5rem;
  padding: 1rem;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  margin-bottom: 0.2rem;
}

hr{
  margin-bottom: 0.2rem;
}